.App{
  margin: 1rem;
}
.App h1{
  text-align: center;
}
.Cards{
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  flex-wrap: wrap;
  height: 35vh;
}
.GitCards{
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  flex-wrap: wrap;
  height: 20vh;
}
.TextCenter{
  text-align: center; 
  width: 100%;
}
.TextCenter img{
  width: 10rem;
}
.Footer{
  text-align: center;
}
.Cards::-webkit-scrollbar {
  width: 0.5em;
}
.Cards::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Cards::-webkit-scrollbar-thumb {
  background-color: skyblue;
  outline: 1px solid slategrey;
}

@media only screen and (min-width: 600px){
 
  .Section1{
  display: inline;
  float: left;
  width: 70%;
}
.Section2{
  display: inline;
  float: left;
  width: 30%;
}
  .Cards{
    flex-direction: row;
    height: 50vh;
    overflow: auto;
  }
  .GitCards{
    flex-direction: row;
    height: auto;
  }
}